body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.calculator {
    border: 2px solid black;
    padding: 15px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

button {
    width: 45px;
    height: 40px;
    margin: 3px;
    font-size: 16px;
}
